{
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": [
          ">0.5%",
          "not dead"
        ]
      }
    }],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
